.navContainer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menuTapNav {
    padding: 7px;
    background-image: linear-gradient(to right, rgba(var(--light-blue-rgba)), rgba(var(--light-blue-rgba)), rgba(var(--light-blue-rgba)));
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.075);

}

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;
}

.link:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-image: linear-gradient(to right, rgba(var(--dark-blue-rgba)), rgba(var(--dark-blue-rgba)), rgba(var(--dark-blue-rgba)));
}

.link:hover,
.link:focus {
    outline: 0;
    width: 130px;

    .link-icon {
        color: #fff;
    }

    .link-title {
        color: #fff;
    }
}

.link:hover:before,
.link:hover .link-title {
    transform: translateX(0);
    opacity: 1;

}

.link-icon {
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;

}

.link-icon svg {
    width: 28px;
    height: 28px;
}

.link-title {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    display: block;
    text-align: center;
    text-indent: 28px;
    width: 100%;
}

/* Media query for responsiveness */
/* @media screen and (max-width: 768px) {
    .menu {
        flex-direction: row;
        align-items: stretch;
        width: 100%;
    }

    .link-icon {
        width: 20px;
        height: 20px;
        left: 6px;
    }

    .link {
        width: 100%;
        margin-bottom: .1rem;
    }

    .link:hover,
    .link:focus {
        width: 100%;
    }
} */