.signup {
    width: 100%;
    height: 100%;
    background: url(../img/newwave.jpg);
    background-size: cover;
}

.signup .leftPart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.signup .leftPart .beforeForm img {
    height: 100px;
}

.signup .leftPart .beforeForm h2 {
    color: var(--dark-orange);
    font-size: 3rem;
    font-family: "Protest Riot", sans-serif;
}

.signup .leftPart #multi-step-form-container {
    margin-top: 12px;
    align-items: center;
}


.signup .leftPart #multi-step-form-container ul.form-stepper {
    counter-reset: section;
}

.signup .leftPart #multi-step-form-container ul.form-stepper .form-stepper-circle {
    position: relative;
}

.signup .leftPart #multi-step-form-container ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.signup .leftPart #multi-step-form-container ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal li.form-stepper-completed:after {
    background-color: var(--dark-blue);
}

.signup .leftPart #multi-step-form-container .form-stepper-horizontal li:last-child {
    flex: unset;
}

.signup .leftPart #multi-step-form-container ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: gray;
    border-radius: 50%;
}

.signup .leftPart #multi-step-form-container ul.form-stepper li a .form-stepper-circle span {
    font-size: 25px;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-active .form-stepper-circle {
    background-color: var(--dark-blue) !important;
    color: #fff;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-active .label {
    color: var(--dark-blue) !important;
    font-weight: bold;
    font-size: 17px;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: var(--dark-blue) !important;
    color: #fff !important;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: var(--light-blue) !important;
    color: #fff;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-completed .label {
    color: var(--light-blue) !important;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: var(--light-blue) !important;
    color: #fff !important;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.signup .leftPart #multi-step-form-container .form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.signup .leftPart #multi-step-form-container .form-stepper li a {
    cursor: default;
    color: var(--dark-blue) !important;
}

.signup .leftPart #multi-step-form-container .form-stepper li a .label {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--dark-blue) !important;
}

.signup .leftPart #multi-step-form-container .signupForm {
    padding: 40px 10% 40px 10%;
    width: 600px;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 30%;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #d9d9d9;
    width: 100%;
    margin-bottom: 20px;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div input {
    position: absolute;
    border: none;
    outline: none;
    background: none;
    padding: 0 0.7rem;
    margin: 0 1.5rem 15px 1.5rem;
    font-size: 1.2rem;
    font-family: 'poppins', sans-serif;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div input::placeholder {
    font-family: "Protest Riot", sans-serif;
    color: gray;
    font-size: 1.2rem;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div .icon {
    color: var(--dark-orange);
    font-size: 18px;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div .fileLabel {
    font-family: "Protest Riot", sans-serif;
    color: gray;
    font-size: 1.2rem;
    cursor: pointer;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div .labelRadio {
    display: flex;
    align-items: center;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div input[type="radio"] {
    position: none;
    padding: 0 !important;
    margin: 0 !important;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .input-div .labelRadio span {
    margin-left: 18px;
    font-family: "Protest Riot", sans-serif;
    color: gray;
    font-size: 1.2rem;
}

.signup .leftPart #multi-step-form-container .signupForm .form-step div .checkbox {
    --border-default: #bbbbc1;
    --border-hover: #9898a3;
    --active: #6E7BF2;
    --active-tick: #ffffff;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;

    svg {
        display: block;
        position: absolute;
    }

    input {
        display: block;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 36% / 36%;
        box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
        background: var(--background, transparent);
        transition: background .25s linear, box-shadow .25s linear;

        /* &+svg {
            width: 21px;
            height: 18px;
            left: 0;
            top: 0;
            color: var(--active);

            .tick {
                stroke-dasharray: 20;
                stroke-dashoffset: var(--stroke-dashoffset, 20);
                transition: stroke-dashoffset .2s;

                &.mask {
                    stroke: var(--active-tick);
                }
            }

            &+svg {
                width: 11px;
                height: 11px;
                fill: none;
                stroke: var(--active);
                stroke-width: 1.25;
                stroke-linecap: round;
                top: -6px;
                right: -10px;
                stroke-dasharray: 4.5px;
                stroke-dashoffset: 13.5px;
                pointer-events: none;
                animation: var(--animation, none) .2s ease .175s;
            }
        } */
        &+svg {
            width: 21px;
            height: 18px;
            left: 0;
            top: 0;
            color: var(--active);

            .tick {
                stroke-dasharray: 20;
                stroke-dashoffset: var(--stroke-dashoffset, 20);
                transition: stroke-dashoffset .2s;

                &.mask {
                    stroke: var(--active-tick);
                }
            }

            &+svg {
                width: 11px;
                height: 11px;
                fill: none;
                stroke: var(--active);
                stroke-width: 1.25;
                stroke-linecap: round;
                top: -6px;
                right: -10px;
                stroke-dasharray: 4.5px;
                stroke-dashoffset: 13.5px;
                pointer-events: none;
                animation: var(--animation, none) .2s ease .175s;
            }
        }

        &:checked {
            --background: var(--active);
            --border: var(--active);

            &+svg {
                --stroke-dashoffset: 0;

                &+svg {
                    --animation: check;
                }
            }
        }
    }

    &:hover {
        input {
            &:not(:checked) {
                --border: var(--border-hover);
            }
        }
    }
}

@keyframes check {
    100% {
        stroke-dashoffset: 4.5px;
    }
}

.signup .leftPart #multi-step-form-container .signupForm .btnFrom {
    display: inline-block;
    width: 35%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue), var(--dark-blue));
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1rem .5rem;
    cursor: pointer;
    transition: .5s;
}

.signup .leftPart #multi-step-form-container .signupForm .btnFrom:hover {
    background-position: right;
}

.signup .rightPart {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .rightPart .about {
    width: 500px;
    height: 500px;
}

.signup .rightPart .about img {
    width: 500px;
    height: 500px;
}

@media (max-width: 768px) {
    .signup .leftPart #multi-step-form-container .signupForm {
        padding: 40px 5% 40px 5%;
        max-width: 600px;
        width: 100%;
    }

    .signup .rightPart {
        display: none;
    }

    .signup .leftPart {
        background-image: url(../img/newwave.jpg);
        background-size: cover;
        width: 100%;
    }

    .signup {
        background: none;
    }
}

@media (min-width: 576px) {
    .signup .leftPart #multi-step-form-container .signupForm {
        padding: 40px 20% 40px 20%;
    }
}

@media (min-width: 1200px) {
    .signup .leftPart #multi-step-form-container .signupForm {
        padding: 40px 20% 40px 20%;
    }
}