/* 
---------------------------------------------
Global Style
--------------------------------------------- 
*/

.section-heading {
    text-align: center;
    margin-bottom: 80px;
    font-family: "Protest Riot", sans-serif;
    color: var(--dark-blue);
}

.section-heading .line-dec {
    margin: 0 auto;
    width: 20%;
    height: 2px;
    background: var(--dark-orange);
}

/* 
---------------------------------------------
Pharmacy Style
--------------------------------------------- 
*/
.pharmacyContainer .section-heading {
    text-align: center;
    margin-bottom: 80px;
    font-family: "Protest Riot", sans-serif;
    color: var(--dark-blue);
}

.pharmacyContainer .section-heading .line-dec {
    margin: 0 auto;
    width: 20%;
    height: 2px;
    background: var(--dark-orange);
}

.pharmacyContainer .infoPharmacy {
    padding-top: 70px;
    margin-top: 0px;
}

.pharmacyContainer .searchField {
    margin-bottom: 50px;
    margin-left: 100px;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: var(--dark-blue);
    display: flex;
    align-items: left;
    justify-content: left;
    background: var(--baby-blue-rgba);
    background: linear-gradient(105deg, rgba(var(--baby-blue-rgba), 1) 0%, rgba(var(--light-blue-rgba), 1) 100%);
    padding: 5px;
}

.pharmacyContainer .searchField input {
    border: none;
    outline: none;
    background: none;
    width: 90%;
    padding-left: 10px;
    font-size: 16px;
}

.pharmacyContainer .searchField input::placeholder {
    font-size: 14px;
    color: var(--dark-blue);
}

.pharmacyContainer .searchField .fa-search-pharmacy {
    color: var(--dark-blue);
    margin-top: 5px;
    margin-left: 10px;
}


.pharmacyContainer .infoPharmacy .item {
    position: relative;
    margin-bottom: 30px;
}

.pharmacyContainer .infoPharmacy .item .hidden-content {
    background: var(--baby-blue-rgba);
    background: linear-gradient(105deg, rgba(var(--baby-blue-rgba), 1) 0%, rgba(var(--light-blue-rgba), 1) 100%);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    top: 0;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
    width: 250px;
}

.pharmacyContainer .infoPharmacy .item.hidden-content:after {
    width: 20px;
    height: 20px;
    position: absolute;
    background: var(--baby-blue-rgba);
    content: '';
    left: 50%;
    bottom: -8px;
    margin-left: -5px;
    transform: rotate(45deg);
    background: linear-gradient(105deg, rgba(var(--baby-blue-rgba), 1) 0%, rgba(var(--light-blue-rgba), 1) 100%);
    z-index: -1;
}

.pharmacyContainer .infoPharmacy .item .hidden-content h4 {
    font-size: 26px;
    font-weight: 700;
    color: var(--dark-orange);
}

.pharmacyContainer .infoPharmacy .item .hidden-content p {
    font-size: 20px;
    color: var(--dark-orange);
    margin-bottom: 5px;
}

.pharmacyContainer .infoPharmacy .item .hidden-content p .icon {
    padding-right: 10px;
}

.pharmacyContainer .infoPharmacy .item .showed-content {
    width: 250px;
    height: 200px;
    top: 0px;
    position: relative;
    z-index: 3;
    background: transparent;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.pharmacyContainer .infoPharmacy .item .showed-content img {
    width: 250px;
    height: 200px;
    border-radius: 20px;
}

.pharmacyContainer .infoPharmacy .item:hover .hidden-content {
    top: -10px;
    opacity: 1;
    visibility: visible;
}

.pharmacyContainer .infoPharmacy .item:hover .showed-content {
    top: 120px;
}

.pharmacyContainer .infoPharmacy .main-btn {
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to right, rgba(var(--light-orange-rgba)), rgba(var(--light-orange-rgba)), rgba(var(--light-orange-rgba)));
    color: var(--light-blue);
    text-decoration: none;
    font-weight: bold;
}

.pharmacyContainer .infoPharmacy .main-btn:hover {
    background-position: right;
    color: var(--dark-blue);
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(var(--dark-orange-rgba), 1), rgba(var(--dark-orange-rgba), 0.8), rgba(var(--dark-orange-rgba), 1));
}

/* 
---------------------------------------------
drugInfo Style
--------------------------------------------- 
*/
.drugInfo h2 {
    font-size: 46px;
    font-weight: 400;
}

.drugInfo p {
    color: #717275;
    font-size: 20px;
    font-weight: 400;
}

.drugInfo .faq-section .accordion-item {
    border: 0;
}

.drugInfo .faq-section .accordion-button {
    font-size: 22px;
    font-weight: 400;
    font-family: "Protest Riot", sans-serif;
    color: var(--dark-blue);
}

.drugInfo .faq-section .accordion-item:first-of-type .accordion-button {
    border-radius: 100px;
}

.drugInfo .faq-section .accordion-button:not(.collapsed) {
    border-radius: 100px;
    box-shadow: none;
    color: var(--dark-blue);
}

.drugInfo .faq-section .accordion-body {
    color: #717275;
    font-size: 18px;
    line-height: 40px;
}

/* 
---------------------------------------------
infoMedicine Style
--------------------------------------------- 
*/

.medicineContainer .filters {
    margin-left: 130px;
    text-align: right;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.medicineContainer .filters ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.medicineContainer .filters ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: var(--dark-blue);
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s;
    font-family: "Protest Riot", sans-serif;
}

.medicineContainer .filters ul li:first-child {
    margin-left: 0px;
}

.medicineContainer .filters ul li.active,
.medicineContainer .filters ul li:hover {
    background-color: var(--light-blue);
    color: #fff;
}

.medicineContainer .filters .filtersIcon {
    font-size: 26px;
    cursor: pointer;
    color: var(--dark-orange);
    margin: 0 10px;
}

.medicineContainer .itemMedicine {
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.medicineContainer .itemMedicine .thumbMedicine {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
}

.medicineContainer .itemMedicine .thumbMedicine img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.medicineContainer .itemMedicine .down-content {
    padding: 0 25px;
    justify-content: center;
    align-items: center;
}

.medicineContainer .itemMedicine .down-content h4 {
    font-size: 17px;
    font-weight: 600;
    transition: all .3s;
    font-family: "Protest Riot", sans-serif;
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
    .pharmacyContainer .infoPharmacy .item .hidden-content {
        width: 250px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content {
        width: 250px;
        height: 200px;
        margin-right: 60px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content img {
        width: 250px;
        height: 200px;
    }
}

@media screen and (max-width: 992px) {
    .drugInfo h2 {
        font-size: 36px;
    }

    .drugInfo .section-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pharmacyContainer .infoPharmacy .item .hidden-content {
        width: 250px;
    }

}

@media screen and (max-width: 768px) {
    .pharmacyContainer .infoPharmacy .item .hidden-content {
        width: 250px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content {
        width: 250px;
        height: 200px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content img {
        width: 250px;
        height: 200px;
    }
}

@media screen and (max-width: 576px) {
    .drugInfo h1 {
        font-size: 36px;
    }

    .pharmacyContainer .infoPharmacy .item .hidden-content {
        width: 250px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content {
        width: 250px;
        height: 200px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content img {
        width: 250px;
        height: 200px;
    }
}

@media screen and (max-width: 360px) {
    .pharmacyContainer .infoPharmacy .item .hidden-content {
        width: 250px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content {
        width: 250px;
        height: 200px;
    }

    .pharmacyContainer .infoPharmacy .item .showed-content img {
        width: 250px;
        height: 200px;
    }
}