:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

.chat {
  background-color: var(--theme-bg);
  max-width: 1240px;
  max-height: 900px;
  height: 95vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}

.sidebar {
  width: 220px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .logo {
  display: none;
  width: 30px;
  height: 30px;
  background-color: #22b07d;
  flex-shrink: 0;
  color: #fff;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.sidebar .logo-expand {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}

.sidebar .logo-expand:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  background: var(--theme-bg);
  width: 200px;
  height: 70px;
  z-index: -1;
}
.sidebar-link {
  color: white;
}
.sidebar-link:hover,
.sidebar-link.is-active {
  color: var(--dark-orange);
  font-weight: 600;
}

.sidebar-link:hover:nth-child(2n + 1) svg,
.sidebar-link.is-active:nth-child(2n + 1) svg {
  background: #ff7551;
}

.sidebar-link:hover:nth-child(2n) svg,
.sidebar-link.is-active:nth-child(2n) svg {
  background: #32a7e2;
}

.sidebar-link:hover:nth-child(2n + 3) svg,
.sidebar-link.is-active:nth-child(2n + 3) svg {
  background: #6c5ecf;
}

.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}

.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}

.sidebar.collapse .logo {
  display: flex;
}

.sidebar.collapse .side-wrapper {
  width: 30px;
}

.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}

.side-menu a + a {
  margin-top: 26px;
}

.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
}

.side-menu svg:hover {
  color: #fff;
}

.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 36px 0;
  width: 145px;
}

.side-wrapper + .side-wrapper {
  border-bottom: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
}

.search-bar {
  height: 34px;
  display: flex;
  width: 100%;
  max-width: 450px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}

.user-settings {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}

.user-settings svg {
  width: 10px;
  flex-shrink: 0;
}

.user-settings .notify {
  position: relative;
}

.user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  flex-shrink: 0;
}

.user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  position: absolute;
  right: 1px;
  border: 1px solid var(--theme-bg);
  top: -2px;
}

.user-img {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 10px;
}

.user-settings .user-info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.user-settings .user-info span {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.user-settings .user-info .user-name {
  color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.amount {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  color: #808191;
}

.drop-down {
  background-color: var(--button-bg);
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.drop-down + .drop-down {
  margin-left: 20px;
}

.card {
  width: 100%;
  display: flex;
  padding: 24px;
  margin-bottom: 20px;
  background-color: var(--video-bg);
  border-radius: 10px;
  position: relative;
  transition: transform 0.1s ease-in;
  animation: bottom 0.75s var(--delay) backwards;
}

.card:hover {
  transform: translateY(-8px);
}

.card + .card {
  margin-top: 20px;
}

.card:hover .overflow-hidden,
.card:active .overflow-hidden {
  overflow: visible;
}

.card .overflow-hidden {
  overflow: hidden;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--button-bg);
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #c4c4c4;
}

.card .overflow-hidden img {
  height: 100%;
  width: 100%;
}

.card .card-inner {
  width: 100%;
}

.card .card-inner-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card .card-inner-header .name {
  color: #fff;
  font-weight: 600;
}

.card .card-inner-header .number {
  color: #808191;
  font-size: 14px;
  font-weight: 500;
}

.card .card-inner .card-progress {
  height: 5px;
  background-color: var(--button-bg);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 10px 0 14px;
}

.card .card-inner .card-progress span {
  height: 100%;
  display: block;
  background-color: #ec5252;
}

.card .card-inner .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .card-inner .card-footer .hours {
  display: flex;
  align-items: center;
}

.card .card-inner .card-footer .hours span {
  margin-left: 8px;
}

.card .card-inner .card-footer .status {
  font-weight: 600;
  color: #ec5252;
  text-transform: uppercase;
  font-size: 12px;
}

.card .card-inner .card-footer .status.active {
  color: #22b07d;
}

.chart-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--theme-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  flex-direction: column;
}

.chart-container .close {
  background-color: #252936;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #c4c4c4;
}

.chart-container .chart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}

.chart-container .chart {
  width: 100%;
  height: 100%;
  padding: 30px;
}

/* --------------------- Chat Pages ---------------------------- */

.group {
  flex: 1;
  margin-bottom: 20px;
}

.group h2 {
  margin-top: 0;
}

.post {
  /* display: none; */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.post h3 {
  margin-top: 0;
}

.post p {
  margin-bottom: 10px;
}

.comment {
  background-color: #f6f7f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}

.comment p {
  margin: 5px 0;
}

.comment input[type="text"] {
  width: calc(100% - 40px);
  padding: 5px;
  margin-right: 5px;
}

.comment button {
  padding: 5px 10px;
  border: none;
  background-color: #4267b2;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.new-post-btn {
  display: none;
  /* Hide the button by default */
}

.card {
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
  margin-bottom: 18px;
}


.dots {

  height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.badge {

  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img {

  margin-top: 4px;
  border-radius: 20px;
}

.user .span {
  color: blue;
}




.icons i {

  margin-left: 8px;
}

.reply {

  margin-left: 12px;
}

.reply small {

  color: #010101;

}


.reply small:hover {

  color: green;
  cursor: pointer;


}

.form {
  width: 30%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #0d0c0c;
  padding-top: 20px;
  border: none;

}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #0bde5f;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.form input:focus {
  outline: none;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #080808;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
  transform: translateX(0%);
}

.form {
  position: relative;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  /* Adjust margin as needed */
}

.form input {
  width: calc(100% - 40px);
  /* Adjust width to accommodate the button */
  height: 100%;
  color: #0d0c0c;
  padding-top: 20px;
  border: none;
}

.form .arrow-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 151%;
  padding: 0 10px;
  /* Adjust padding as needed */
  background-color: transparent;
  border: none;
  color: #555;
  /* Adjust color as needed */
  cursor: pointer;
}