.noDataImg {
    min-height: 455px;
    margin: 0px auto;
    width: auto;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noDataImg img {
    width: 300px;
    height: 300px;
}

.noDataText {
    margin-left: 20px;
    margin-top: -30px;
}

.noDataText h2 {
    margin-left: 80px;
    font-family: "Protest Riot", sans-serif;
    color: var(--dangers);
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}